{% extends 'base.html' %}

{% block title %}Detail Movie{% endblock %}

{% block content %}
<h1 class="text-center mb-3">{{ movie.title }}</h1>
<table class="table">

    <thead>
    <tr>
        <th scope="col">Film</th>
        <th scope="col">Year</th>
        <th scope="col">Rating</th>
        <th scope="col">Votes</th>
    </tr>
    </thead>
    <tr>
        <td>{{ movie.title }}</td>
        <td>{{ movie.year }}</td>
        <td><span class="badge rounded-pill bg-warning text-dark">{{ movie.average_rating|floatformat:1 }}</span></td>
        <td>{{ movie.count_votes }}</td>
    </tr>


    {% endblock %}